# Lists

In [3]:
students = ['Jake', 'Antoine', 'Andrew', 'Jack']

students

['Jake', 'Antoine', 'Andrew', 'Jack']

Use indexing to extraxt a single element of the list

In [4]:
print(students[1])

Antoine

When indexing, you can also use negative numbers to count backwards from the end of the list

In [5]:
print(students[-2])

Andrew

In [6]:
students[-2]

'Andrew'

Now let's say that Jake drops the class but Mark decided to join. This is how we can edit a list

In [7]:
students[0] = 'Mark'

students

['Mark', 'Antoine', 'Andrew', 'Jack']

Now lets say that Antoine is tired of the class and wants to drop it. There is no one else coming in.\
This is how we can delete from a list

Important: once you delete an element from a list, it is gone from all succeeding outputs

In [8]:
del students[1]

students

['Mark', 'Andrew', 'Jack']

# Built-In Methods (BIMs) for Lists/Tuples/Dictionaries

Here is an intro to some of Python's Built-in Methods. Below is an example of using .append() to add a name to a list.\
Continuing on from the previous example, let's say that Jake wants to come back to the class. Here's how it's done

In [9]:
students.append('Jake')

students

['Mark', 'Andrew', 'Jack', 'Jake']

Another way to do this is using the .extend( ) method. Below is an example showing how to add Antoine and Professor
Nigro into our list

Important: You must use [ ] to add multiple elements back into the list

In [10]:
students.extend(['Antoine', 'Professor Nigro'])

students

['Mark', 'Andrew', 'Jack', 'Jake', 'Antoine', 'Professor Nigro']

Lists elements are directly treated as string values.
The code below shows that you do not need to put quotes around your reference of a list

In [11]:
print('The first student in our class list is'  + students[0] + '! Mark, are you here?')

The first student in our class list isMark! Mark, are you here?

The built-in method .index( ) can be used to tell you what position in the list an element is

In [12]:
students.index('Jack')

2

We have used len( ) in previous lessons to count the number of letters (and spaces) in a string.
Below is a review of that:

In [13]:
len("Professor Nigro")

15

We can also use len( ) to count the number of elements in a list

In [14]:
len(students)

6

# Slicing

Slicing enables you to take a small amount of data out of a larger amount.
First I am going to bring our list down here so that we can see it better

In [15]:
students

['Mark', 'Andrew', 'Jack', 'Jake', 'Antoine', 'Professor Nigro']

Now, let's say we want to create a new list from our original list. For this example, let's just say that
Jake and Antoine are working in a group and we want to show that

In [16]:
students[3:5]

['Jake', 'Antoine']

^This syntax is a little tricky because you must start with the position on the list where Jake is (3) and finish one
place past Antoine (5)

.

Below is an example of how to return the first 3 elements of the list

In [17]:
students[:3]

['Mark', 'Andrew', 'Jack']

Below is an example of how to return the last 2 elements of the list

In [18]:
students[4:]

['Antoine', 'Professor Nigro']

^This is saying that we will be extracting everything from the 4th position to the end of the list

.

You can obtain the same results by using this syntax:

In [19]:
students[-2:]

['Antoine', 'Professor Nigro']

# More built-in methods to help you with your lists

In order to sort your list in alphabetical order, you can use the .sort() BIM

In [20]:
students.sort()

students

['Andrew', 'Antoine', 'Jack', 'Jake', 'Mark', 'Professor Nigro']

If you want to sort your list in reverse alphabetical order, you can do it like this:

In [21]:
students.sort(reverse = True)

students

['Professor Nigro', 'Mark', 'Jake', 'Jack', 'Antoine', 'Andrew']

The .sort() BIM also works perfectly with a list of integers or floats

In [22]:
returns = [1.1,3.5,-5.5,3.4,6]
returns.sort()

returns

[-5.5, 1.1, 3.4, 3.5, 6]

When we are working with financial returns eventually, we will probably wants High to Low, so we can use this:

In [23]:
returns.sort(reverse = True)

returns

[6, 3.5, 3.4, 1.1, -5.5]

# Tuples

Tuples are very similar to lists. Both are sequences but they can not be modified.\
Tuples are placed within ( ), not [ ]

In [24]:
x = (5,10,15)

x

(5, 10, 15)

Note that Tuples are the default default sequence type for Python. So if you leave the parentheses out, it will
default to a Tuple anyway

In [25]:
x = 5,10,15

x

(5, 10, 15)

You can also place Tuples within lists, making each Tuple a separate element in the list.

In [26]:
tuple1 = 5,10,15

tuple2 = 1,2,3

list1 = [tuple1,tuple2]

list1

[(5, 10, 15), (1, 2, 3)]

You can also assign a number of values to the same number of variables

In [27]:
a, b, c = 5, 10, 15

c

15

We can assign a comma separated list of variables to a comma separated string list. You must use the .split()
BIM to tell the computer where you'd like to split the string

In [28]:
(stock_price, market_cap) = '5.43,400'.split(',')
print(stock_price)
print(market_cap)

5.43
400

Now, let's see how me can integrate tuples into a function. We can have a function return a Tuple rather than a 
single value. Let's keep is a simple and calculate the Area and Perimeter of a square. The input will be the length
of the side of the square.\

Formulas to keep in mind: [A = L ** 2], [P = L * 4]

In [29]:
def square_info(x):
    area = x ** 2
    perimeter = x * 4
    print('Area and Perimeter:')
    return area,perimeter

square_info(3)

Area and Perimeter:

(9, 12)

# Dictionaries

Dictionaries are another way or sorting data\
Dictionaries are comprised of a certain amount of key-value pairs\
In the following example, a1,a2,a3,a4 are the keys and they have "values" attached\
Notice the syntax uses { }

In [30]:
dict = {'a1':'standard deviation', 'a2':'variance', 'a3': 'mean', 'a4':'covariance'}
dict

{'a1': 'standard deviation',
 'a2': 'variance',
 'a3': 'mean',
 'a4': 'covariance'}

In [31]:
dict['a3']

'mean'

Just like lists, we can add a key-value pair to the dictionary\
The format is: dictionary_name[new_key_name] = new_value_name

In [32]:
dict['a5'] = 'correlation'

dict

{'a1': 'standard deviation',
 'a2': 'variance',
 'a3': 'mean',
 'a4': 'covariance',
 'a5': 'correlation'}

You can also replace a value\
Let's try replacing mean with average\
It will be a permenant change

In [33]:
dict['a3'] = 'average'

dict

{'a1': 'standard deviation',
 'a2': 'variance',
 'a3': 'average',
 'a4': 'covariance',
 'a5': 'correlation'}

Let's try a more complex dictionary..one that has a list\
For this example, lets say that Andrew plays football and Jack and Jake play lacrosse

In [34]:
sports = {'Footbal': 'Andrew', 'Lacrosse':['Jake','Jack']}

sports

{'Footbal': 'Andrew', 'Lacrosse': ['Jake', 'Jack']}

In [35]:
sports['Lacrosse']

['Jake', 'Jack']

Now we are going to see that there is another way to fill in a dictionary..

In [36]:
team = {}
team['Faceoff'] = 'Jack'
team['Attack'] = 'Logan','Marc','Jake'
team['Defense'] = 'Jack','Dante','Ryan'
team['Midfield'] = 'Trevor','Austin','Pat'
team['Goalie'] = 'Luke'
team['LSM'] = 'Jake','Zach','Lajohn'

team

{'Faceoff': 'Jack',
 'Attack': ('Logan', 'Marc', 'Jake'),
 'Defense': ('Jack', 'Dante', 'Ryan'),
 'Midfield': ('Trevor', 'Austin', 'Pat'),
 'Goalie': 'Luke',
 'LSM': ('Jake', 'Zach', 'Lajohn')}

In [37]:
team['Goalie']

'Luke'

You can also grab someone's name by using the .get() function

In [38]:
team.get('Attack')

('Logan', 'Marc', 'Jake')

One cool thing about dictionaries is that if you enter data that is not in the dictionary, it won't display an error

In [39]:
print(team.get('Coach'))

None

A more practical example would be using a company name and a stock price in a dictionary

In [40]:
stock_prices = {}
stock_prices['Apple'] = 320.5
stock_prices['Tesla'] = 650.6
stock_prices['Bank of America'] = 320.5

stock_prices

{'Apple': 320.5, 'Tesla': 650.6, 'Bank of America': 320.5}

In [41]:
stock_prices['Apple']

320.5